.container {
  padding: 20px;
  text-align: center;
  background-color: #121212;
  color: white;
  min-height: 100vh;
}

.cardBox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cardContainer {
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #1e1e1e;
  padding: 15px;
  width: 250px;
  text-align: left;
  color: white;
}

.cardPhoto {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.cardText {
  margin-top: 10px;
}

.cardTitle {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.cardInfo {
  font-size: 14px;
  margin: 5px 0;
}

.breaker {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ccc;
}
